body > div.woo-multi-currency.right.style-1.bottom.wmc-sidebar{
  display: none;
}

.blog-content{
    padding: 1em;
}
.cards-blog{
	  box-shadow: 2px 1px 2px #D2D2D1;
}
.card-icon {

  font-weight: 800;
}
.card-icon:hover {
 color: #CA151C;
  background: #F9F8F5!important;
  cursor: pointer;
}
.cards-blog:hover {
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
  transition: .4s;
}
.cards-blog .card-thumb img {
  width:100%;
  height: 240px;
}
.footer-single h3 {
  color: #f5f020;
}
.footer-single ul {
  margin-top: 1em;
}
.footer-single p {
  margin-top: 1em;
}
.entry-header h3 a {
  color: #ca151c!important;
  font-family: sans-serif;
}
.padd h2 {
  color: #ca151c!important;
  font-family: 'Roboto', sans-serif!important;
  font-weight: bold;
}
.titulo-section {
  color: #ca151c!important;
  font-family: 'Roboto', sans-serif!important;
  font-weight: bold;
}
